*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
 }

 body {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
} 
 .center{
   max-width: 1060px;
   margin: 0 auto;
   padding: 0 2%;
   display: flex;
 }
 
 .header{
   padding: 40px 0px;
   width: 100%;
   background-color: #012a4a;
   height: auto;
 }
 
.item-menu .icon{
    display: none;
}

 .menu{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 
 .menu h3{
   color: white;
 }
 
 .menu a{
   color: white;
   text-decoration: none;
   border: 1px solid white;
   padding: 3px 8px;
   border-radius: 5px;
   margin-left: 10px;
   flex-wrap: wrap;
 }
 
 .menu a:hover{
   border: 1px solid greenyellow;
 }
 
  button a {
    text-decoration: none;
    color: greenyellow;
  }
  button a:hover{
   color:  gray;
  }
 
 button {
     width: 55%;
     height: 50px;
     cursor: pointer;
     font-size: 20px;
     font-weight: bold;
   margin-top: 40px;
     color: greenyellow;
     background: #012a4a;
     border: 1px solid aliceblue;
     box-shadow: 3px 3px 0 aliceblue,
         -3px -3px 0 aliceblue,
         -3px 3px 0 aliceblue,
         3px -3px 0 aliceblue;
     transition: 500ms ease-in-out;
 }
 
 button:hover {
     box-shadow: 20px 5px 0  aliceblue, -20px -5px 0  aliceblue;
 }
 
 button:focus {
     outline: none;
 }
 
 .quemSou{
   width: 100%;
   height: 700px;
   background: linear-gradient(90deg, #1c1c1c 0%, #012a4a 30%, #1c1c1c 100%);
 }
 
 .quemSou-center{
   width: 100%;
 }
 
 .quemSou-left{
   color: aliceblue;
   width: 50%;
   padding: 20px;
   font-size: 22px;
   margin-top: 170px;
 }
 
 .quemSou-left h3{
   font-weight: normal;
 }
 
 .quemSou-left-gif img {
   width: 500px;
   padding: 50px;
   margin-top: 70px;
   border-radius: 70px;
 }
 
 .quemSou-right{
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 120px;
 }
 .quemSou-right img{
   margin: 0 auto;
   width: 320px;
   border-radius: 800px;
   border: 3px solid aliceblue;
 }
 .quemSou-right a{
   text-align: center;
   margin-top: 10px;
   color: greenyellow;
   font-weight: normal;
   font-size: 19px;
   text-decoration: none;
 }
 .quemSou-right a:hover{
   color: aliceblue;
   font-size: 20px;
 }
 
 .quemSou-bottom-right{
   color: aliceblue;
   width: 50%;
   margin-top: 100px;
 }
 
 .quemSou-bottom-right h1{
   font-size: 40px;
   line-height: 1.7em;
 }
 
 .quemSou-bottom-right h4{
   font-weight: normal;
   text-align: justify;
   font-size: 18px;
   line-height: 1.7em;
 }
 
 .quemSou-bottom{
   background: #161a1d;
   height: 500px;
 }
 
 .projetos{
   background: linear-gradient(90deg, #1c1c1c 0%, #012a4a 30%, #1c1c1c 100%);
   color:aliceblue;
   height: 600px;
 }
 
 .projetos h1{
   text-align: center;
   margin-bottom: 10px;
   font-size: 45px;
   padding-top: 80px;
 }
 
 .projetos h2{
   margin-bottom: 10px;
 }
 
 .projetos h4{
   font-weight: normal;
 }
 
 .projetos h1 a{
   font-size: 18px;
   font-weight: normal;
   text-decoration: none;
   cursor: pointer;
   color: greenyellow;
 }
 
 .projetos h1 a:hover{
   font-size: 19px;
   text-decoration: none;
   cursor: pointer;
   color: aliceblue;
 }
 
 .center-projetos{
   max-width: 80%;
   margin: 0 auto;
   padding: 2%;
   display: flex;
   justify-content: space-around;
 }
 
 .card-projetos{
   text-align: left;
   width: 30%;
   height: 200px;
   background-color: #161a1d;
   padding: 10px;
   border-radius: 10px;
 }
 
 .card-projetos h1{
   text-align: left;
   margin-bottom: 10px;
 }
 
 .card-projetos:hover{
   border: 2px solid aliceblue;
   cursor: pointer;
   box-shadow: 5px 10px aliceblue;
 }
 
 .conhecimentos{
   display: flex;
   justify-content: center;
   background: #161a1d;
 }
 
 .center-conhecimentos{
   display: flex;
   flex-direction: row;
   background: #161a1d;
   width: 1100px;
   justify-content: center;
   height: 500px;
 }
 
 .center-conhecimentos h1{
   text-align: left;
   color: white;
   width: 50%;
   margin-top: 150px;
 }
 
 .linguagens{
   display: flex;
   justify-content: space-between;
   max-width: 400px;
   flex-wrap: wrap;
   height: 250px;
   margin-top: 120px;
   padding: 10px;
 }
 
 .card-conhecimentos{
   width: 100px;
   height: 100px;
   border-radius: 5px;
   background-color: #231F20;
 }
 
 .card-conhecimentos img {
   width: 100px;
   height: 100px;
 }
 
 .card-conhecimentos:hover{
   border: 1px solid greenyellow;
   cursor: pointer;
 }

 .descricaoLinguagens{
     max-width: 600px;
     min-width: 600px;
 }
 .descricaoLinguagens p {
     font-size: 17px;
     color: greenyellow;
     margin-top: 20px;
     font-weight: normal;
     text-align: justify;
 }
 
 .divResultado{
     width: 400px;
 }

 .descricaoLinguagens h1{
     font-size: 40px;
 }
 
 .footer{
   background-color: #012a4a;
   height: 100px;
 }
 
 .conteudo{
   display: flex;
   justify-content: space-around;
 }
 
 .conteudo-left h3{
   margin-top: 40px;
   color: aliceblue;
   font-weight: normal;
   font-size: 15px;
 }

@media screen and (max-width: 600px) {
  .item-menu.responsive {position: relative;}
  .item-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .item-menu.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
    .item-menu a{
      display: none;
  }
  .item-menu a.icon{
      float: right;
      display: block;
  }
}
@media screen and (max-width: 600px){
  .center{
    display: flex;
    flex-direction: column;
  }
  .quemSou-left{
    width: 100%;
    text-align: center;
  }
  .quemSou-right{
    align-content: center;
    width: 100%;
  }
  .quemSou{
    height: 1000px;
  }
}

@media screen and (max-width: 600px){
  .quemSou-bottom{
    height: 600px;
  }
  .quemSou-left-gif{
    display: none;
  }
  .quemSou-bottom-right{
    margin-top: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 600px){
  .projetos{
    height: 900px;
  }
  .projetos h1{
    padding-top: 20;
  }
  .center-projetos{
    flex-wrap: wrap;
    height: 750px;
  }
  .card-projetos{
    width: 100%;
  }
  .card-projetos:hover{
    box-shadow: none;
    border: none;
  }
}

@media screen and (max-width: 600px){
  .conhecimentos{
    width: 100%;
  }
  .center-conhecimentos{
    flex-wrap: wrap;
    height: 1200px;
  }
  .descricaoLinguagens{
    width: 100%;
  }
  .descricaoLinguagens h1{
    text-align: center;
    width: 100%;
    margin-top: 50px;
  }
  .divResultado p{
    margin-left: 100px;
    height: 100px;
    width: 100%;
    text-align: center;
  }
  .linguagens{
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .card-conhecimentos {
    width: 150px;
    height: 150px;
  }
  .card-conhecimentos img{
    width: 150px;
    height: 150px;
  }
}
